*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}


body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    color: white;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

#buttons {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px;
    width: 98%;
    gap: .4em;
    margin: 0 auto;
    padding: 1em .25em;

}

button {

    margin: 0 auto;
}

.item-b {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 7;
}

.screen {
    grid-column-start: 1;
    grid-column-end: 5;
    position: relative;
}

#screen p {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2rem;
}


#calc-container {
    width: 265px;
    margin: 0 auto;
    padding: 1em .25em;
    background-color: #1C1C1C;
    border-radius: 20px;
    text-align: center;
}

.number {
    background-color: #505050;
}

.round {
    border-radius: 50%;
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    color: white;
    font-size: 1.7rem;
    font-family: Helvetica;
}

.not-round {
    border-radius: 10px;
    border: none;
    background-color: #FF9500;
    color: white;
    margin: 0;
}

.operator {
    background-color: #FF9500;
}

.operators {
    background-color: white;
    color: #FF9500;
}

.clear {
    background-color: #D4D4D2;
    color: #1C1C1C;
}

.number:active {
    background-color: gray;
    transition: background-color .15s ease-in-out;
}